* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

p {
  margin: 0;
}

/************ Header section ui end here ************/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #0000002d;
  z-index: 999;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  height: 80px;
}

.header .right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header .second-logo {
  width: 80px;
}

.header .nav_items {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
}
.header .nav_items li {
  list-style: none;
  color: #ffffff;
  transition: all 0.2s ease;
  font-size: 1rem;
}
.header .nav_items li:hover {
  color: #3ad4fd;
}
.header .nav_items li a {
  text-decoration: none;
  color: inherit;
}

.header .menu_btn {
  display: none;
}

@media only screen and (max-width: 991px) {
  .header {
    height: 80px;
  }

  .header .logo {
    height: 70px;
  }

  .header .second-logo {
    width: 70px;
  }

  .header .nav_items {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    flex-direction: column;
    padding: 1.5rem 0;
    background-color: #00000080;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    pointer-events: none;
    gap: 1rem;
  }

  .header .nav_items.show {
    padding: 1.5rem 0;
    max-height: 500px;
    opacity: 1;
    pointer-events: auto;
  }

  .header .menu_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: transparent;
    border: none;
  }
  .header .menu_btn img {
    width: 25px;
  }
}

@media only screen and (max-width: 991px) {
  .header {
    padding: 0 5%;
  }
}
/************ Header section ui end here ************/

/************ view-more-btn ui start here ************/
.view_more_btn {
  background: linear-gradient(90deg, #056783 0%, #3ad4fd 100%);
  border: none;
  border-radius: 66px;
  padding: 0.55rem 2rem;
  padding-right: 1rem;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 500;
  font-size: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.view_more_btn.small {
  padding: 0.35rem 1.5rem;
  padding-right: 0.875rem;
  font-size: 15px;
}

.view_more_btn:hover {
  transform: translateY(-2px); /* slight lift */
  box-shadow: 0 4px 12px rgba(16, 134, 167, 0.4); /* subtle glow */
}

@media only screen and (max-width: 575px) {
  .view_more_btn {
    padding: 0.55rem 2rem;
    padding-right: 1rem;
    gap: 8px;
    font-size: 14px;
  }

  .view_more_btn img {
    width: 22px;
  }
}
/************ view-more-btn ui end here ************/

/************ section title ui start here ************/
.section_title_wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.section_title_wrapper .section_title {
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  margin: 0;
}

.section_title_wrapper .section_title.white {
  color: #ffffff;
}

.section_title_wrapper .line {
  width: 76px;
  height: 1px;
  background-color: #000000;
}

.section_title_wrapper .line.white {
  background-color: #ffffff;
}

@media only screen and (max-width: 991px) {
  .section_title_wrapper {
    gap: 8px;
  }

  .section_title_wrapper .section_title {
    font-size: 18px;
  }

  .section_title_wrapper .line {
    width: 70px;
  }
}
/************ section title ui end here ************/

/************ Home-Hero section ui start here ************/

.hero_section {
  padding-top: 100px;
  width: 100%;
  min-height: 100vh;
  background: url("/assets/images/hero-bg.png") no-repeat center center;
  background-size: cover;
  padding-bottom: 3rem;
}

.hero_section .container {
  margin-top: 80px;
}

.hero_section .title {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 48px;
}

.hero_section .sub-title {
  margin-top: 1rem;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}

@media only screen and (max-width: 991px) {
  .hero_section {
    padding-top: 80px;
  }
  .hero_section .container {
    margin-top: 80px;
  }

  .hero_section .title {
    font-size: 40px;
  }

  .hero_section .sub-title {
    font-size: 20px;
    line-height: 28px;
  }
}

@media only screen and (max-width: 575px) {
  .hero_section {
    padding: 0 5%;
    padding-top: 100px;
    padding-bottom: 3rem;
  }

  .hero_section .title {
    font-size: 36px;
  }

  .hero_section .sub-title {
    font-size: 16px;
    line-height: 22px;
  }
}

/************ Home-Hero section ui ends here ************/

/************ Home-About-us section ui start here ************/
.home_about_us {
  width: 100%;
  padding: 3rem 0;
}
.home_about_us .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 5rem;
}

.home_about_us .title {
  font-weight: 500;
  font-size: 45px;
  color: #282a39;
}

.home_about_us .para {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 180%;
  color: #666666;
  margin: 0;
}

.home_about_us .second_btn {
  display: none;
}

@media only screen and (max-width: 991px) {
  .home_about_us .container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .home_about_us .title {
    font-size: 40px;
  }

  .home_about_us .first_btn {
    display: none;
  }

  .home_about_us .second_btn {
    display: block;
  }
}

@media only screen and (max-width: 575px) {
  .home_about_us {
    padding: 3rem 5%;
  }

  .home_about_us .title {
    font-size: 32px;
  }

  .home_about_us .para {
    font-size: 14px;
  }
}
/************ Home-About-us section ui end here ************/

/************ Home-Services section ui start here ************/
.home_services {
  background: url("/assets/images/home-services-bg.png") no-repeat center center;
  background-size: cover;
  padding: 4rem 0;
  padding-bottom: 6rem;
}

.home_services .title_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

.home_services .title {
  font-weight: 700;
  font-size: 50px;
  color: #ffffff;
}
.home_services .view_all_service_wrapper {
  margin-left: auto;
  font-weight: 700;
  font-size: 12px;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.home_services .view_all_service_wrapper .round {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(284.59deg, #2cb6dc -5.73%, #186276 60.77%);
  display: grid;
  place-items: center;
}

.service_card_wrapper {
  margin-top: 4rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.service_card_wrapper .service_card {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 26px;
  position: relative;
}

.service_card_wrapper .service_card::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, rgba(5, 5, 5, 0.966), rgba(5, 5, 5, 0));
  pointer-events: none;
}
.service_card_wrapper .service_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service_card_wrapper .text_wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem;
}

.service_card_wrapper .service_card .text {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

@media only screen and (max-width: 991px) {
  .home_services .title {
    font-size: 40px;
  }
  .home_services .view_all_service_wrapper {
    font-size: 11px;
    gap: 6px;
  }

  .home_services .view_all_service_wrapper .round {
    width: 35px;
    height: 35px;
  }

  .service_card_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .service_card_wrapper .service_card {
    border-radius: 22px;
  }

  .service_card_wrapper .service_card .text {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 575px) {
  .home_services {
    padding: 3rem 5%;
  }

  .home_services .title {
    font-size: 36px;
  }

  .service_card_wrapper {
    margin-top: 3rem;
    grid-template-columns: 1fr;
  }

  .service_card_wrapper .service_card .text {
    font-size: 14px;
  }
}

/************ Home-Services section ui end here ************/

/************ Home-Fleets section ui start here ************/
.home_fleets {
  padding: 5rem 0;
}

.home_fleets .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home_fleets .title {
  font-weight: 500;
  font-size: 50px;
  text-align: center;
  color: #282a39;
  max-width: 550px;
}

.home_fleets .tabs_wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
}

.home_fleets .tabs_wrapper .tab {
  font-weight: 400;
  font-size: 15px;
  color: #3a3a3a;
  border: 1px solid #ebebeb;
  padding: 5px 1.5rem;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.home_fleets .tabs_wrapper .tab:hover {
  background-color: #ebebeb;
}

.fleet_card_wrapper {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.fleet_card {
  width: 100%;
  border-radius: 30px;
  padding: 2.5rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.fleet_card .pic {
  max-width: 100%;
  margin-bottom: 2rem;
}

.fleet_card .details_wrapper {
  margin-top: auto;
}

.fleet_card .name {
  font-weight: 600;
  font-size: 20px;
  color: #000000;
  text-align: left;
}

.fleet_card .about_wrapper {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}
.fleet_card .about_wrapper p {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 400;
  font-size: 1rem;
  color: #000000;
}

@media only screen and (max-width: 1199px) {
  .fleet_card_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 991px) {
  .home_fleets .title {
    font-size: 40px;
    max-width: 450px;
  }
  .fleet_card .name {
    font-size: 18px;
  }
  .fleet_card .about_wrapper p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .fleet_card_wrapper {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 575px) {
  .home_fleets {
    padding: 3rem 5%;
  }
  .home_fleets .title {
    font-size: 34px;
    max-width: 380px;
  }
  .home_fleets .tabs_wrapper .tab {
    font-size: 14px;
  }
  .fleet_card .name {
    font-size: 1rem;
  }
  .fleet_card .about_wrapper p {
    font-size: 14px;
  }
}
/************ Home-Fleets section ui end here ************/

/************ Our-Clients section ui start here ************/
.our_clients {
  padding: 5rem 0;
  background-color: #f6f6f6;
  overflow: hidden;
}

.our_clients .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Infinite Logo Slider */
.our_clients .logo-slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 1rem;
  mask: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  -webkit-mask: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
}

.our_clients .logo-track {
  display: flex;
  gap: 50px;
  animation: scroll 30s linear infinite;
  width: fit-content;
}

.our_clients .logo-track:hover {
  animation-play-state: paused;
}

.our_clients .logo-card {
  width: 320px;
  height: 150px;
  border-radius: 20px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.our_clients .logo-card.special {
  padding: 1rem;
}

.our_clients .logo-card .client-logo {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* Animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 991px) {
  .our_clients .logo-card {
    width: 300px;
    height: 130px;
  }
}

@media only screen and (max-width: 575px) {
  .our_clients .logo-card {
    width: 260px;
    height: 110px;
  }
}

/************ Our-Clients section ui end here ************/

/************ testimonials section ui start here ************/
.testimonial-section {
  padding: 5rem 0;
}

.testimonial-section .title {
  font-weight: 700;
  font-size: 34px;
  color: #170f49;
}

.testimonial-section .testimonial-card {
  background: #ffffff;
  border-radius: 20px;
  padding: 30px;
  border: 1px solid #eff0f6;
  box-shadow: 0px 5px 14px 0px #080f340a;
  min-height: 335px;
  display: flex;
  flex-direction: column;
}

.testimonial-section .testimonial-card .main-text {
  font-weight: 600;
  font-size: 20px;
  color: #170f49;
}

.testimonial-section .testimonial-card .para {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  color: #6f6c90;
  margin-top: 10px;
  margin-bottom: 1rem;
}

.testimonial-section .testimonial-card .profile_wrapper {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

.testimonial-section .testimonial-card .profile_wrapper .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.testimonial-section .testimonial-card .profile_wrapper .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonial-section .testimonial-card .profile_wrapper .name {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0%;
  color: #170f49;
}

.testimonial-section .testimonial-card .profile_wrapper .profession {
  font-weight: 400;
  font-size: 1rem;
  color: #6f6c90;
}

.testimonial-section .testimonial-navigation {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-section .testimonial-navigation .swiper-button-prev,
.testimonial-section .testimonial-navigation .swiper-button-next {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  width: 40px;
  height: 40px;
  background: #046882;
  border-radius: 50%;
  color: #ffffff;
  font-weight: 600;
}

.testimonial-section .swiper-button-prev::after,
.testimonial-section .swiper-button-next::after {
  font-size: 18px;
}

@media only screen and (max-width: 991px) {
  .testimonial-section .title {
    font-size: 32px;
  }

  .testimonial-section .testimonial-card {
    min-height: 310px;
  }

  .testimonial-section .testimonial-card .main-text {
    font-size: 18px;
  }

  .testimonial-section .testimonial-card .para {
    font-size: 14px;
  }

  .testimonial-section .testimonial-card .profile_wrapper .avatar {
    width: 45px;
    height: 45px;
  }

  .testimonial-section .testimonial-card .profile_wrapper .name {
    font-size: 14px;
  }

  .testimonial-section .testimonial-card .profile_wrapper .profession {
    font-size: 14px;
  }

  .testimonial-section .testimonial-navigation .swiper-button-prev,
  .testimonial-section .testimonial-navigation .swiper-button-next {
    width: 35px;
    height: 35px;
  }
  .testimonial-section .swiper-button-prev::after,
  .testimonial-section .swiper-button-next::after {
    font-size: 16px;
  }
}

@media only screen and (max-width: 767px) {
  .testimonial-section .testimonial-card {
    min-height: 280px;
  }
}

@media only screen and (max-width: 575px) {
  .testimonial-section {
    padding: 5rem 5%;
  }

  .testimonial-section .title {
    font-size: 28px;
  }
}
/************ testimonials section ui end here ************/

/************ newsletter-signup section ui start here ************/
.newsletter_signup {
  padding: 5rem 0;
}

.newsletter_signup .newsletter_card {
  width: 100%;
  background: linear-gradient(269.98deg, #39d3fa 0.01%, #046882 98.87%);
  padding: 4rem;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.newsletter_signup .newsletter_card .first_title {
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  color: #ffffff;
}
.newsletter_signup .newsletter_card .second_title {
  font-weight: 600;
  font-size: 40px;
  color: #fff8f8;
}

.newsletter_signup .newsletter_card .input_wrapper {
  position: relative;
}

.newsletter_signup .newsletter_card .input_wrapper input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  outline: none;
  font-weight: 400;
  font-size: 1rem;
  color: #ffffff;
  padding: 10px 0;
}

.newsletter_signup .newsletter_card .input_wrapper input::placeholder {
  color: #ffffff;
  font-weight: 500;
}

.newsletter_signup .newsletter_card .input_wrapper .send_btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  border: none;
  background-color: transparent;
}

.newsletter_signup .newsletter_card .input_wrapper .send_btn img {
  width: 24px;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .checkbox-wrapper-13 {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .checkbox-wrapper-13 input[type="checkbox"] {
    --active: #ffffff;
    --active-inner: #fff;
    --border: #ffffff;
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: transparent;
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  .checkbox-wrapper-13 input[type="checkbox"]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
      opacity var(--d-o, 0.2s);
  }
  .checkbox-wrapper-13 input[type="checkbox"]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  .checkbox-wrapper-13 input[type="checkbox"]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  .checkbox-wrapper-13 input[type="checkbox"]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  .checkbox-wrapper-13 input[type="checkbox"]:disabled + label {
    cursor: not-allowed;
  }
  .checkbox-wrapper-13 input[type="checkbox"]:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch) {
    width: 21px;
  }
  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch):after {
    opacity: var(--o, 0);
  }
  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch):checked {
    --o: 1;
  }
  .checkbox-wrapper-13 input[type="checkbox"] + label {
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;
  }

  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch) {
    border-radius: 5px;
  }
  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }
  .checkbox-wrapper-13 input[type="checkbox"]:not(.switch):checked {
    --r: 43deg;
  }
}

.checkbox-wrapper-13 * {
  box-sizing: inherit;
}
.checkbox-wrapper-13 *:before,
.checkbox-wrapper-13 *:after {
  box-sizing: inherit;
}

@media only screen and (max-width: 991px) {
  .newsletter_signup .newsletter_card {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
}

@media only screen and (max-width: 575px) {
  .newsletter_signup {
    padding: 5rem 5%;
  }
  .newsletter_signup .newsletter_card {
    grid-template-columns: 1fr;
    padding: 3rem 1.5rem;
  }
  .newsletter_signup .newsletter_card .first_title {
    font-size: 14px;
  }
  .newsletter_signup .newsletter_card .second_title {
    font-size: 34px;
  }
  .newsletter_signup .newsletter_card .input_wrapper .send_btn img {
    width: 20px;
  }

  @supports (-webkit-appearance: none) or (-moz-appearance: none) {
    .checkbox-wrapper-13 input[type="checkbox"] {
      height: 20px;
    }
    .checkbox-wrapper-13 input[type="checkbox"]:not(.switch) {
      width: 20px;
    }
    .checkbox-wrapper-13 input[type="checkbox"]:not(.switch):after {
      left: 7px;
      top: 4px;
    }
  }
}

/************ newsletter-signup section ui end here ************/
